<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <!-- BEGIN FOOTER -->
    <div class="footer" th:fragment="footer">
        <div class="footer-inner">
            2019 &copy; QuickMaster 后台管理系统.
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->

    </body>
</html>