<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>添加部门信息-Quick Master后台管理系统</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style-metro.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style-responsive.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
        <link th:href="@{../../css/uniform.default.css}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN PAGE LEVEL STYLES -->
        <link rel="stylesheet" type="text/css" th:href="@{../../css/select2_metro.css}"/>
        <link rel="stylesheet" th:href="@{../../css/DT_bootstrap.css}"/>
        <!-- END PAGE LEVEL STYLES -->
        <link rel="shortcut icon" th:href="@{../../image/favicon.ico}"/>

        <style type="text/css">
            .help-tip {
                color: red;
                font-style: italic;
            }

        </style>

    </head>

    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body class="page-header-fixed">
        <!-- BEGIN HEADER -->
        <div th:replace="public/header :: header"></div>
        <!-- END HEADER -->

        <!-- BEGIN CONTAINER -->
        <div class="page-container row-fluid">

            <!-- BEGIN SIDEBAR -->
            <div th:replace="public/menu :: menu('department')"></div>
            <!-- END SIDEBAR -->

            <!-- BEGIN PAGE -->
            <div class="page-content">
                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid">
                    <!-- BEGIN PAGE HEADER-->
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h3 class="page-title">
                                编辑部门信息
                            </h3>
                            <ul class="breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                        <a th:href="@{/admin}">首页</a>
                                    <i class="icon-angle-right"></i>
                                </li>
                                <li>
                                    <a th:href="@{/admin/department-manager}">部门管理</a>
                                    <i class="icon-angle-right"></i>
                                </li>
                                <li>
                                    <a href="#">编辑部门信息</a>
                                </li>
                            </ul>
                            <!-- END PAGE TITLE & BREADCRUMB-->
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->

                    <!-- BEGIN PAGE CONTENT-->
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet box blue tabbable">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-reorder"></i>
                                        <span class="hidden-480">添加部门</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="tabbable portlet-tabs">
                                        <ul class="nav nav-tabs">
                                            <li><a data-toggle="tab">注意必填项</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="portlet_tab1">
                                                <!-- BEGIN FORM-->
                                                <form action="#" class="form-horizontal" method="post">
                                                    <div class="alert alert-error hide" id="show-error">
                                                        <button class="close" data-dismiss="alert"></button>
                                                        <span></span>
                                                    </div>
                                                    <input name="id" type="hidden" th:value="${systemUserDepartment.id}" id="departmentId">
                                                    <div class="control-group">
                                                        <label class="control-label">部门名称</label>
                                                        <div class="controls">
                                                            <input type="text" placeholder="部门名称" class="m-wrap medium" name="departmentName" id="departmentName" th:value="${systemUserDepartment.departmentName}"/>
                                                            <span class="help-inline help-tip">* 必填</span>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">所属部门</label>
                                                        <div class="controls">
                                                            <select class="medium m-wrap" tabindex="1" name="parentId" id="parentId">
                                                                <option value="0">请选择上级部门</option>
                                                                <option th:if="${not #lists.isEmpty(departments)}" th:each="department: ${departments}" th:value="${department.id}" th:text="${department.departmentName}"
                                                                th:selected="${systemUserDepartment.parentId == department.id ? true : false}"></option>
                                                            </select>
                                                            <span class="help-inline help-tip">* 默认为一级部门</span>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">操作人</label>
                                                        <div class="controls">
                                                            <input class="m-wrap medium" type="text" th:placeholder="${systemUser.username}" disabled th:value="${systemUser.username}" name="createBy" id="createBy"/>
                                                            <span class="help-inline"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <button type="submit" class="btn blue" id="editDepartmentForm"><i class="icon-ok"></i>保存</button>
                                                        <button type="button" class="btn">取消</button>
                                                    </div>
                                                </form>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->

                </div>
                <!-- END PAGE CONTAINER-->
            </div>
            <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->

        <!-- BEGIN FOOTER -->
        <div th:replace="public/footer :: footer"></div>
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

        <!-- BEGIN CORE PLUGINS -->
        <script th:src="@{../../js/jquery-1.10.1.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

        <script th:src="@{../../js/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/bootstrap.min.js}" type="text/javascript"></script>

        <!--[if lt IE 9]>
        <script th:src="@{../../js/excanvas.min.js}"></script>
        <script th:src="@{../../js/respond.min.js}"></script>
        <![endif]-->

        <script th:src="@{../../js/jquery.slimscroll.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.blockui.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.cookie.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.uniform.min.js}" type="text/javascript" ></script>
        <script th:src="@{../../js/department.js}"></script>
        <!-- END CORE PLUGINS -->
        <script th:src="@{../../js/app.js}" ></script>

        <script>
            jQuery(document).ready(function() {
                App.init();
                //添加保存部门信息
                $("#editDepartmentForm").click(function(){
                    var parentName = $("#parentId>option").html();
                    var departmentName = $("#departmentName").val();
                    //检验部门名称是否为空
                    if (departmentName.length == 0 || departmentName == undefined) {
                        showError('部门名称不能为空!');
                        return false;
                    }
                    if (parentName != "无上级部门" && departmentName == parentName) {
                        showError('部门名称不能和上级部门相同!');
                        return false;
                    }
                    $.ajax({
                        type: "post",
                        url: "/admin/edit-department-result",
                        data: {
                            id: $("#departmentId").val(),
                            departmentName: departmentName,
                            parentId: $("#parentId").val(),
                            createBy: $("#createBy").val()
                        },
                        success: function(data) {
                            if (data.code != 0) {
                                showError(data.message);
                                return false;
                            }
                            alert("部门信息编辑成功!");
                            window.location.href = "/admin/department-manager";
                        },
                        error: function(data) {
                            console.log(data);
                        }
                    });

                    return false;
                });
                var showError = function(message) {
                    $("#show-error").removeClass("hide");
                    $("#show-error>span").html(message);
                }
            });
        </script>

    </body>
    <!-- END BODY -->

</html>
