<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="zh" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title th:text="#{login.title}"></title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style-metro.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style-responsive.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
        <link th:href="@{../../css/uniform.default.css}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link th:href="@{../../css/login.css}" href="media/css/login.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <link rel="shortcut icon" th:href="@{../../image/favicon.ico}"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <!--<img th:src="@{../../image/logo-big.png}" src="media/image/logo-big.png" alt=""/>-->
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="form-vertical login-form" action="" method="post">
                <h3 class="form-title" th:text="#{login.tip}"></h3>
                <div class="alert alert-error hide">
                    <button class="close" data-dismiss="alert"></button>
                    <span th:text="#{login.usernamePasswordTip}"></span>
                </div>
                <div class="alert alert-error hide" id="show-error">
                    <button class="close" data-dismiss="alert"></button>
                    <span></span>
                </div>
                <div class="control-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.username}"></label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            <input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名"  th:placeholder="#{login.username}" name="username" id="username"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.password}">密码</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            <input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" th:placeholder="#{login.password}" name="password" id="password"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox">
                        <input type="checkbox" name="rememberMe" value="1" id="rememberMe"/> [[#{login.rememberMe}]]
                    </label>
                    <button type="submit" class="btn green pull-right">
                        [[#{login.tip}]] <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
                <div class="forget-password">
                    <h4 th:text="#{login.forgetPassword}">忘记密码 ?</h4>
                    <p>
                        <a href="javascript:;" class="" id="forget-password" th:text="#{login.getPassword}">找回并重置密码</a>
                    </p>
                </div>
                <div class="create-account">
                    <p>
                        [[#{login.noAccount}]]&nbsp;
                        <a href="javascript:;" id="register-btn" class="" th:text="#{login.newAccount}">新建账户</a>
                    </p>
                </div>
                <div class="language-choice">
                    <p>
                        <span class="lang">
                            <a th:href="@{/login(lang='zh_CN')}">中文</a>
                        </span>
                        <span  class="lang">
                            <a th:href="@{/login(lang='en_US')}">English</a>
                        </span>
                    </p>
                </div>
            </form>
            <!-- END LOGIN FORM -->
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="form-vertical forget-form" action="" method="post">
                <h3 class="" th:text="#{login.forgetPassword}">忘记密码 ?</h3>
                <p th:text="#{login.inputResetPassword}">请输入用户名和邮箱重置密码:</p>
                <div class="alert alert-error hide" id="show-forget-error">
                    <button class="close" data-dismiss="alert"></button>
                    <span></span>
                </div>
                <div class="control-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.username}">用户名</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            <input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名"  th:placeholder="#{login.username}" name="username" id="forget_username"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.email}">邮箱</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-envelope"></i>
                            <input class="m-wrap placeholder-no-fix" type="text" placeholder="邮箱" th:text="#{login.email}" name="email" id="forget_email"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn">
                        <i class="m-icon-swapleft"></i> [[#{login.back}]]
                    </button>
                    <button type="submit" class="btn green pull-right">
                        [[#{login.submit}]] <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
            <!-- END FORGOT PASSWORD FORM -->
            <!-- BEGIN REGISTRATION FORM -->
            <form class="form-vertical register-form" action="" method="post">
                <h3 class="" th:text="#{login.register}">注册</h3>
                <div class="alert alert-error hide" id="show-reg-error">
                    <button class="close" data-dismiss="alert"></button>
                    <span></span>
                </div>
                <p th:text="#{login.inputAccountInfo}">输入您的账户信息:</p>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.username}">用户名</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            <input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名" th:placeholder="#{login.username}" name="username" id="reg-username"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.password}">密码</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            <input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" th:placeholder="#{login.password}" name="password" id="reg-password"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.repeatPassword}">重复密码</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-ok"></i>
                            <input class="m-wrap placeholder-no-fix" type="password" placeholder="重复密码" th:placeholder="#{login.repeatPassword}" name="rePassword" id="reg-rePassword"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9" th:text="#{login.email}">邮箱</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-envelope"></i>
                            <input class="m-wrap placeholder-no-fix" type="text" placeholder="邮箱" th:placeholder="#{login.email}" name="email" id="reg-email"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="tnc"/> [[#{login.agree}]]
                        </label>
                        <div id="register_tnc_error"></div>
                    </div>
                </div>
                <div class="form-actions">
                    <button id="register-back-btn" type="button" class="btn">
                        <i class="m-icon-swapleft"></i> [[#{login.back}]]
                    </button>
                    <button type="submit" id="register-submit-btn" class="btn green pull-right">
                        [[#{login.register}]] <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
            <!-- END REGISTRATION FORM -->
        </div>
        <!-- END LOGIN -->
        <!-- BEGIN COPYRIGHT -->
        <div class="copyright">
            2019 &copy; [[#{login.title}]].
        </div>

        <!-- END COPYRIGHT -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

        <!-- BEGIN CORE PLUGINS -->
        <script th:src="@{../../js/jquery-1.10.1.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.i18n.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script th:src="@{../../js/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/bootstrap.min.js}" type="text/javascript"></script>

        <!--[if lt IE 9]>

        <script th:src="@{../../js/excanvas.min.js}"></script>

        <script th:src="@{../../js/respond.min.js}"></script>

        <![endif]-->

        <script th:src="@{../../js/jquery.slimscroll.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.blockui.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.cookie.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.uniform.min.js}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!--<script th:src="@{../../js/jquery.i18n.properties.min.js}"></script>-->
        <script th:src="@{../../js/jquery.validate.min.js}" type="text/javascript"></script>
        <!--<script th:src="@{/webjars/jquery-i18n-properties/jquery.i18n.properties.min.js}"></script>-->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script th:inline="javascript">
            //获取应用路径
            //var ROOT = [[${#servletContext.contextPath}]];
            //获取默认语言
            //var LANG_COUNTRY = [[${#locale.language + '_'+ #locale.country}]];
            //初始化i18n插件
//            jQuery.i18n.properties({
//                path: ROOT + '/i18n/',//这里表示访问路径
//                name: 'login',//文件名开头
//                language: LANG_COUNTRY,//文件名语言 例如en_US
//                mode: 'both'//默认值
//            });

            //初始化i18n函数
//            function i18n(msgKey) {
//                try {
//                    return jQuery.i18n.prop(msgKey);
//                } catch (e) {
//                    return msgKey;
//                }
//            }
//            console.log(i18n('login.loginRequired'));
        </script>
        <script th:src="@{../../js/app.js}" type="text/javascript"></script>
        <script th:src="@{../../js/login.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script th:inline="javascript">
            jQuery(document).ready(function () {
                App.init();
                Login.init();
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>