<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="zh" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>找回密码-Quick Master后台管理系统</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style-metro.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/style-responsive.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../../css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
        <link th:href="@{../../css/uniform.default.css}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link th:href="@{../../css/login.css}" href="media/css/login.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <!--<link rel="shortcut icon" href="media/image/favicon.ico"/>-->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <!--<img th:src="@{../../image/logo-big.png}" src="media/image/logo-big.png" alt=""/>-->
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="form-vertical reset-forget-form" action="" method="post">
                <input type="hidden" name="username" th:value="${username}" value="${username}" id="reset-username"/>
                <input type="hidden" name="email" th:value="${email}" value="${email}" id="reset-email"/>
                <p>请输入您要重置的密码:</p>
                <div class="alert alert-error hide" id="show-reset-forget-error">
                    <button class="close" data-dismiss="alert"></button>
                    <span></span>
                </div>
                <div class="control-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">密码</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            <input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" name="password"
                                   id="reset-password"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">重复密码</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-ok"></i>
                            <input class="m-wrap placeholder-no-fix" type="password" placeholder="重复密码" name="rePassword"
                                   id="reset-rePassword"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn green pull-right">
                        提交 <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
            <!-- END FORGOT PASSWORD FORM -->
        </div>
        <!-- END LOGIN -->
        <!-- BEGIN COPYRIGHT -->
        <div class="copyright">
            2019 &copy; QuickMaster 后台管理系统.
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <script th:src="@{../../js/jquery-1.10.1.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script th:src="@{../../js/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/bootstrap.min.js}" type="text/javascript"></script>

        <!--[if lt IE 9]>

        <script th:src="@{../../js/excanvas.min.js}"></script>

        <script th:src="@{../../js/respond.min.js}"></script>

        <![endif]-->

        <script th:src="@{../../js/jquery.slimscroll.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.blockui.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.cookie.min.js}" type="text/javascript"></script>
        <script th:src="@{../../js/jquery.uniform.min.js}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script th:src="@{../../js/jquery.validate.min.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script th:src="@{../../js/app.js}" type="text/javascript"></script>
        <script th:src="@{../../js/login.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>
            jQuery(document).ready(function () {
                App.init();
                Login.init();
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
