<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ron.mapper.SystemUserMapper">
    <select id="getUser" resultType="com.ron.entity.SystemUser">
        select * from r_system_user where id = #{userId}
    </select>
    
    <select id="getUsers" resultType="com.ron.entity.SystemUser">
        select * from r_system_user
    </select>
    
    <select id="getUserByEmail" resultType="com.ron.entity.SystemUser">
        select id, username, email, role_names, role_ids from r_system_user where email = #{email}
    </select>
    
    <select id="getLoginUser" resultType="com.ron.entity.SystemUser">
        select id, username, role_names, role_ids, is_locked, created_date, last_modified_date from r_system_user where username = #{username} and password = #{password}
    </select>
    
    <select id="checkRegisterSystemUser" resultType="com.ron.entity.SystemUser">
        select id from r_system_user where username = #{username} and email = #{email}
    </select>
    
    <insert id="registerUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.ron.entity.SystemUser">
        insert into r_system_user(username, password, email, created_by)
        values ( #{username}, #{password}, #{email}, #{createdBy} )
    </insert>
    
    <delete id="deleteUser" flushCache="true" statementType="PREPARED" timeout="20">
        delete from r_system_user where id = #{userId}
    </delete>
    
    <update id="updateForgotPassword" flushCache="true" statementType="PREPARED" timeout="20">
        update r_system_user set password = #{password} where username = #{username} and email = #{email}
    </update>
</mapper>