<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ron.mapper.SystemDepartmentMapper">
    <select id="getDepartment" resultType="com.ron.entity.SystemUserDepartment">
        select * from r_system_department where id = #{departmentId}
    </select>
    
    <select id="getChildDepartment" resultType="com.ron.entity.SystemUserDepartment">
        select * from r_system_department where parent_id = #{parentId}
    </select>
    
    <select id="getDepartmentList" resultType="com.ron.entity.SystemUserDepartment">
        select * from r_system_department
    </select>
    
    <select id="checkDepartment" resultType="com.ron.entity.SystemUserDepartment">
        select id from r_system_department where department_name = #{departmentName} and parent_id = #{parentId}
    </select>
    
    <insert id="addDepartment" useGeneratedKeys="true" keyProperty="id" parameterType="com.ron.entity.SystemUserDepartment">
        insert into r_system_department(department_name, parent_id, create_by)
        values (#{departmentName}, #{parentId}, #{createBy})
    </insert>
    
    <delete id="deleteDepartment" flushCache="true" statementType="PREPARED" timeout="20">
        delete from r_system_department where id = #{departmentId}
    </delete>
    
    <delete id="deleteChildDepartment" flushCache="true" statementType="PREPARED" timeout="20">
      delete from r_system_department where parent_id = ${parentId}
    </delete>
    
    <update id="editDepartment" flushCache="true" statementType="PREPARED" timeout="20">
        update r_system_department set department_name = #{departmentName}, parent_id = #{parentId}, create_by = #{createBy} where id = #{id}
    </update>
</mapper>